<header class="header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="info">
                <p>مرحبا محمد</p>
                <div class="bercramp">
                    <span>مركز طوخ - </span>
                    <span>القليوبية - </span>
                    <span class="active">تغيير الموقع</span>
                </div>
            </div>
            <div class="notifications position-relative">
                <i class='bx bx-bell'></i>
            </div>
        </div>
        <form>
            <input type="text" placeholder="بحث" name="searck">
            <i class='bx bx-search-alt-2'></i>
        </form>
    </div>
 </header><!-- End Header -->