/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Headings
    # Lists
    # Images
*/


/* General
======================= */
/* Fonts */
body{
  font-size: 15px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          font-family: 'Cairo', sans-serif;
          direction: rtl;
          text-align: right;
          background-color: #faf5f2;
}
.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.main {
  padding-bottom: 45px;
}
/* Links
==========================*/
a, a:hover, a:focus{
  text-decoration: none;
}
/* Headings
========================== */
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0;
}
p{
  margin: 0;
}
/*Lists
==========================*/
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Images
=========================== */
input:focus,textarea:focus,select:focus,button:focus{outline: none;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
select:focus,.custom-select:focus{box-shadow: none;}
img{
  display: block;
  max-width: 100%;
  height: auto;
}
input[type="text"]:disabled,
button:disabled {
  background: #dddddd !important;
  cursor: no-drop !important;
  color: #000 !important;
  border: none !important;
}

input.input-error {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ec1613 !important;
  border-color: #ec1613 !important;
}
.table th, .table td{vertical-align: middle;}
/* Section Setting
============================ */
.section-lg{
  padding: 50px 0;
}
.section-sm{padding: 15px 0;}
.head-line{font-size: 22px;}
/* Start Design
============================ */
$main_color: #2CAEE8;
$main_color_transparent: #d9ede5;
$bk_gray_color: #f9f9f9;
$my_shadow: 0px 0px 12px -3px #e3e0e0;

.bk-gray{background-color: $bk_gray_color;}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $main_color_transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main_color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main_color;
}
/* Start Header
=================================== */
.header{
  padding: 10px 0;
  background-color: $main_color;
  color: #fff;
  .notifications{
      &::after{
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: red;
          top: 0;
          right: 7px;
      }
      i{font-size: 25px;}
  }
  .info{
      p{font-size: 16px;}
      span{
          font-size: 12px;
          margin-left: 7px;
          &.active{color: #a3e199;}
      }
  }
  form{
      position: relative;
      margin-top: 10px;
      input{
          background-color: #27a4db;
          padding: 8px;
          border: none;
          border-radius: 5px;
          width: 100%;
          color: #fff;
          &::placeholder{color: #ccc;}
      }
      i{
          position: absolute;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          font-size: 20px;
          color: #ccc;

      }
  }
}
/* Start teachers
=================================== */
.t-card{
  border-radius: 15px;
  margin: 7px;
  .img-container{
      position: relative;
      min-height: 40px;
      img{
          width: 100%;
          height: 117px;
          border-top-left-radius: 18px;
          border-top-right-radius: 18px;
          object-fit: cover;
      }
      .info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          width: 100%;
          padding: 5px;
          bottom: 0px;
          font-size: 12px;
          p{color: #fff;font-size: 12px;}
          .rate{
            border: 1px solid #fff;
            color: #fff;
            border-radius: 10px;
            padding: 0;
            width: 40px;
            height: 18px;
            text-align: center;
            font-size: 8px;
            line-height: 18px;
          }
      }
  }
  .content{
      box-shadow: 0px 3px 9px #00000029;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      background-color: #fff;
      padding: 10px;
      color: #000;
      h6{font-size: 14px;}
      span{
          color: #c7c7c7;
          font-size: 9px;
          &.location{font-size: 7px;font-family: 'Almarai', sans-serif;}
      }
      i{color: #c7c7c7;}
      .flex{
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
              font-size: 6px;
              &:last-of-type{color: $main_color;font-size: 7px;}
          }
      }
      .price{
          p{color: #000 !important;font-size: 16px !important;}
      }
      .times{
          padding: 5px 0;
          border-bottom: 1px solid #c7c7c7;
          margin-bottom: 3px;
          &:nth-of-type(2){border-bottom: none !important;}
      }
      button{
          color: #fff;
          border: none;
          padding: 5px 8px;
          border-radius: 0px 4px 0px 7px;
          font-size: 12px;
          transition: all 0.3s ease-in-out;
          font-family: 'Almarai', sans-serif;
          &:hover{opacity: 0.9;}
      }
  }
}
.teachers{
  background-color: $main_color;
  color: #fff;
  .teachers-slider{
      margin: 15px 0;
  }
}
.notification{
  padding: 10px;
  border-radius: 10px;
  background-color: #fff7e3;
  border: 1px solid #f1e2d3;
  h6{color: #f8c477;font-size: 16px;}
  i{color: #f8c477;font-size: 20px;}
  p{margin: 10px 0;font-size: 14px;font-family: 'Almarai', sans-serif;}
  span{
      font-size: 10px;
      &:last-of-type{
          color: $main_color;
          i{font-size: 14px;color: $main_color;}
      }
  }
}
.about-app{
  img{
    width: 43px;
    height: 57px;
    margin-right: 10px;
    object-fit: cover;
  }
  p{
    font-size: 14px;
    font-family: 'Almarai', sans-serif;
  }
  a{
    color: $main_color;
    font-size: 10px;
    margin-top: 5px;
  }
}
.popular{
  .head-line{color: $main_color}
}
.popular-teacher{
  margin: 10px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #3A598545;
  border-radius: 10px;
  .about{
    width: calc(100% - 40px);
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    .teacher-info{
      padding: 0 10px;
      h6{font-size: 16px;}
      p{color: #777777;font-size: 12px;}
    }
  }
  .rate{
    color: #fff;
    background: #F49F27;
    width: 26px;
    height: 26px;
    border-radius: 6px;
    font-size: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    i{
      display: block;
      font-size: 10px;
    }
  }
  .global-info{
    margin-top: 5px;
    span{
     width: 20px;
     height: 20px;
     border-radius: 50%;
     text-align: center;
     line-height: 20px;
     margin-left: 7px;
     display: inline-block;
     font-size: 11px;
      &.gift{
        color: #FB8E34;
        border: 1px solid #FB8E34;
      }
      &.bell{
        color: #F44352;
        border: 1px solid #F44352;
      }
      &.time{
        color: #2CAEE8;
        border: 1px solid #2CAEE8;
        font-size: 10px;
      }
    }
    .experince{
      color: #F44352;
      font-size: 10px;
      font-family: 'Almarai', sans-serif;
    }
  }
}
.tracking{
  .head-line{color: $main_color;}
}
.near-sets{
  .head-line{color: $main_color;}
  .sets-slider{margin: 15px 0;}
  .nav-tabs{
    border-bottom: none;
    display: flex;
    margin: 15px 0;
    li{
      font-size: 14px;
      margin-left: 10px;
      color: #ACACAC;
      &.active{
        color: $main_color;
        position: relative;
        &::after{
          width: 4px;
          height: 4px;
          border-radius: 50%;
          content: '';
          bottom: -7px;
          left: 50%;
          background-color: $main_color;
          position: absolute;
        }
      }
    }
  }
  .near-sets-items{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {display: none}
    .near-sets-item{
      width: 50%;
      min-width: 50%;
    }
  }
}
nav{
  display: flex;
  justify-content: space-around;
  background-color: $main_color;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px -6px 25px #1C283780;
  a{
    margin: 0 30px;
    color: #fff !important;
    position: relative;
    transition: all 0.3s ease-in-out;
    &.active{
      &::after{
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        content: '';
        background-color: #fff;
        left: 45%;
        top: -5px;
      }
    }
    i{font-size: 20px;}
  }
}
.rate-table{
  .rate-head{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
    padding: 5px 0;
    p{color: #748AA1;font-size: 14px;}
    .title{
      width: 25%;
      display: flex;
      align-items: center;
      padding: 0 10px;
      font-size: 10px;
      color: #748AA1;
    }
    .content{
      width: 75%;
      display: flex;
      align-items: center;
      position: relative;
      p{
        position: absolute;
        &:nth-of-type(1){right: 0%;}
        &:nth-of-type(2){right: 20%;}
        &:nth-of-type(3){right: 45%;}
        &:nth-of-type(4){right: 70%;}
        &:nth-of-type(5){right: 90%;}
      }
    }

  }
  .rate-content{
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #E3E3E3;
    .subject-info{
      width: 25%;
      padding: 5px;
      display: grid;
      p{color: #748AA1;font-size: 10px;}
      span{
        font-size: 7px;
        color: #000;
        font-weight: 600;
        &:nth-of-type(2){font-size: 8px;}
      }
    }
    .progress{
      width: 75%;
      height: 10px;
      background-color: transparent;
      position: relative;
      overflow: visible;
      .progress-bar{
        background-image: linear-gradient(to right,#7467F0 ,#2896E9 );
        box-shadow: 0px 5px 10px #0000001A;
        z-index: 2;
      }
      .rate-value{
        color: #748AA1;
        font-size: 14px;
        margin: -5px 2px;
        position: absolute;
        &::after{
          position: absolute;
          content: '';
          width: 1px;
          height: 13px;
          background-color: #1e8abb;
          top: 3px;
          right: -2px;
        }
      }
    }
  }
}
.line{
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  background-color: #f3eded;
  top: 0px;
  z-index: 0;
  &.line1{right: 25%;}
  &.line2{right: 43.75%;}
  &.line3{right: 62.5%;}
  &.line4{right: 81.25%;}
}
.more-rates{
  color: #2CAEE8;
  font-size: 10px;
  display: block;
  text-align: center;
  margin: 10px 0;
}
// 18.75
@media(min-width: 1200px){
  .near-sets
  {
    .near-sets-items{
      .near-sets-item {
        width: 25%;
        min-width: 25%;
      }
    }
  }
  .t-card{
    .content{
      .flex {
        p{
          font-size: 11px;
          &:last-of-type{font-size: 12px;}
        }
      }
      span{font-size: 12px;&.location{font-size: 10px;}}
    }
  }
  .rate-table{
    .rate-content{
      .subject-info{
        p{font-size: 17px;}
        span{font-size: 12px !important;}
      }
    }
  }
  .about-app{
    img{width: 60px;height: 70px;}
  }
}
