<section class="teachers section-sm">
        <div class="container">
            <h1 class="head-line">المجموعات المقترحة</h1>
            <ngx-slick-carousel class="teachers-slider"
                        #slickModal="slick-carousel"
                        [config]="slideConfig">
                <div ngxSlickItem *ngFor="let teacher of teachers" class="slide">
                    <app-card [teacher]="teacher"></app-card>
                </div>
            </ngx-slick-carousel>
        </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="notification">
            <div class="d-flex justify-content-between align-items-center">
                <h6>المجموعة القادمة</h6>
                <i class='bx bxs-bell-ring'></i>
            </div>
            <p>لديك حصة لغة عربية بمدرسة طوخ الثانوية بنين, كن مستعد</p>
            <div class="d-flex justify-content-between align-items-center">
                <span>اليوم2 اكتوبر الساعة 1:00 م</span>
                <span>
                    <i class='bx bxs-map'></i>
                    واصلى
                </span>
            </div>
        </div>
    </div>
</section>
<section class="about-app section-sm">
    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <p>يمكنك الاطلاع على مراجعة اللغة العربية اون لاين من خلال تطبيق مدرستنا</p>
                <a href="#">حمل تطبيق مدرستنا من هنا</a>
            </div>
            <img alt="sd" src="../../assets/images/logo.png">
        </div>
    </div>
</section>
<section class="popular section-sm">
    <div class="container">
        <h1 class="head-line">المدرسين الاكثر شعبية</h1>
        <ngx-slick-carousel class="popular-teachers-slider"
            #slickModal="slick-carousel"
            [config]="popularSlideConfig">
            <div ngxSlickItem *ngFor="let teacher of teachers" class="slide">
                <app-popular-card [teacher]="teacher"></app-popular-card>
            </div>
        </ngx-slick-carousel>
    </div>
</section>
<section class="near-sets section-sm">
    <div class="container">
        <h1 class="head-line">مجموعات قريبة منك</h1>
        <ul class="nav-tabs">
           <li (click)="changeFilterVal(0)" [ngClass]="{'active': filterValue==0}">الكل</li>
           <li (click)="changeFilterVal(3)" [ngClass]="{'active': filterValue==3}">اللغة الانجليزية</li>
           <li (click)="changeFilterVal(1)" [ngClass]="{'active': filterValue==1}">الدراسات الاجتماعية</li>
           <li (click)="changeFilterVal(4)" [ngClass]="{'active': filterValue==4}">العلوم</li>
        </ul>
        <div class="tab-content">
            <div class="near-sets-items">
                <div class="near-sets-item" *ngFor="let teacher of sets"
                    [hidden]="teacher.subjectEnum!=filterValue && filterValue!=0">
                    <app-card [teacher]="teacher" class="tab-pane fade show active in">
                    </app-card>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tracking section-sm">
    <div class="container">
        <h1 class="head-line">متابعة تقييم الاداء</h1>
        <p class="my-3">يمكنك الاطلاع على تقييم الاداء الخاص بك فى المجموعات الذى تم الاشتراك بها</p>
        <div class="rate-table">
          <div class="rate-head">
              <p class="title">الاداء</p>
              <div class="content">
                  <p>0%</p>
                  <p>25%</p>
                  <p>50%</p>
                  <p>75%</p>
                  <p>100%</p>
              </div>
          </div>
          <div class="position-relative">
            <app-rate-chart *ngFor="let subjectRate of subjectsRate" [subjectRate]="subjectRate"></app-rate-chart>
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div class="line line4"></div>
          </div>
        </div>
      <a routerLink="" class="more-rates">للمزيد من الاداء الخاص بك ادخل هنا</a>
    </div>
</section>
